!!! 5
html
  head
    title Superconductors
    script(src='http://code.jquery.com/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:200', rel='stylesheet', type='text/css')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='/javascripts/hide_and_seek.js')
    link(href='/stylesheets/style.css', rel='stylesheet', media='screen')
    style
      .node {
      stroke: #000000;
      stroke-width: 1.5px;
      }
      .link {
      stroke: #999;
      stroke-opacity: 0;
      }

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner(style='padding-bottom: 8px; padding-right: 20px;')
        form.navbar-search.pull-right
          button.btn.btn-warning(type='submit') Login
    br
    #myCarousel.carousel.slide
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      //
         Carousel items 
      .carousel-inner
        .active.item
          img(src='/images/tv1.png')
        .item
          img(src='/images/tv2.png')
        .item
          img(src='/images/tv3.png')
      //
         Carousel nav 
      a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
      a.carousel-control.right(href='#myCarousel', data-slide='next') ›
    .row
      .span12.offset5
        br
        h1  Search for your favorite show:
        br
    .row
      .span12.offset6
        center
          form.navbar-search.pull-left(id= "showToSearch_form", name="showToSearch", action="/searchTweets", method="post")
            input.search-query(type='text', placeholder='Search', name="desiredShow")
            button.btn(type='submit') Go
    .row(id="results_row")
      br
      br
      br
      include _results_partial

    script
      $('.carousel').carousel({
      interval: 2000
      })
