doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
   	script(src='http://code.jquery.com/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/hide_and_seek.js')

  body
    block content